@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400');

:root {
	--color-white: #ffffff;
	--color-grey-light: #c8c8c8;
	--color-grey: #646464;
	--font-stack: 'Nunito Sans', sans-serif;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 100%; /*16px*/
}

body {
	background: rgb(243, 243, 243);
	font-family: var(--font-stack);
	font-weight: 400;
	line-height: 1.75;
	color: #000000;
	margin: 0;
}

p {
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	line-height: 1.3;
}

h1 {
	margin-top: 0;
	font-size: 3.052rem;
}

h2 {
	font-size: 2.441rem;
}

h3 {
	font-size: 1.953rem;
}

h4 {
	font-size: 1.563rem;
}

h5 {
	font-size: 1.25rem;
}

small,
.text_small {
	font-size: 0.8rem;
}

body > div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}
